In [12]:
import pandas as pd
import numpy as np

df_p1 = pd.read_csv('../data/estaticos_portfolio1.csv') # ids dos clientes da empresa um (já relacionado)
df_p2_ids = pd.read_csv('../data/estaticos_portfolio2.csv') # ids dos clientes da empresa dois
df_p3_ids = pd.read_csv('../data/estaticos_portfolio3.csv') # ids dos clientes da empresa três
df_mkt = pd.read_csv('../data/estaticos_market.csv') # base contando todos os registros incluindo todo mercado

In [13]:
df_p2 = pd.merge(df_p2_ids, df_mkt, on='id', how='left')

In [14]:
df_p3 = pd.merge(df_p_ids, df_mkt, on='id', how='left')

,Unnamed: 0_x,id,Unnamed: 0_y,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,09e95c1a84049001d086470a8f320a19b076f955a89122...,1646,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AC,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,11.243836,...,99.961009,357.066667,25.533333,1361.0,1361.0,1383.0,0.000000,-1.590745,0.000000,0
1,1,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...,2696,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.789041,...,149.173091,526.133333,23.200000,991.0,991.0,1306.0,0.000000,-24.119449,0.000000,0
2,2,16843c9ffb920170477118933798510d8d5f00f5c56c12...,3681,True,SOCIEDADE SIMPLES LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE EDUCACAO,SERVIÇO,16.389041,...,65.942017,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.250000,0
3,3,ff045934d90aab184dd15e66daf3b3c97193bda5449298...,4564,True,MUNICIPIO,AM,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,39.671233,...,144.013013,555.766667,28.300000,1829.0,1829.0,1875.0,0.000000,-2.453333,0.000000,1
4,4,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...,6066,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,PRODUTOS DE AGROPECUARIA,AGROPECUARIA,20.268493,...,14.610734,134.833333,2.933333,177.0,130.0,120.0,36.153846,47.500000,41.042345,0