### Dúvidas

- posso usar o dados do mercado apenas para analizar as variáveis?
    - clusteriza estratificando, assim você identifica o que caracteriza os KPIs
- posso excluir variavéis que o pandas_profiling sugere para desconsiderar fazendo apenas uma análise superficial?
    - Posso eliminar mas tenq analisar as duas que relacionou, e escolher uma 
- posso remover variáveis intuitivamente? Por exemplo, CNPJ se é da matriz ou não?
    - Posso

In [1]:
# imports
import pandas as pd
import numpy as np

# reading the datasets
df_p1 = pd.read_csv('../data/estaticos_portfolio1.csv') # ids dos clientes da empresa um (já relacionado)
df_p2_ids = pd.read_csv('../data/estaticos_portfolio2.csv') # ids dos clientes da empresa dois
df_p3_ids = pd.read_csv('../data/estaticos_portfolio3.csv') # ids dos clientes da empresa três
df_mkt = pd.read_csv('../data/estaticos_market.csv') # base contando todos os registros incluindo todo mercado

In [2]:
# merge the dataframes
df_p2 = pd.merge(df_p2_ids, df_mkt, on='id', how='left')
df_p3 = pd.merge(df_p3_ids, df_mkt, on='id', how='left')

In [3]:
# remove the column Unnamed: 0_y since it represents the id in the market 
# (we do not need it since we have the "id" column that already identifies the entry)
df_p2.drop(columns=['Unnamed: 0_y'], inplace=True)
df_p3.drop(columns=['Unnamed: 0_y'], inplace=True)

In [4]:
# now lets rename the column 'Unnamed: 0_y' to 'Unnamed: 0' to standard it
df_p2.rename(columns={'Unnamed: 0_x':'Unnamed: 0'}, inplace=True)
df_p3.rename(columns={'Unnamed: 0_x':'Unnamed: 0'}, inplace=True)

# Data undertanding

#### First of all, lets verify if the columns in the datasets are the same

In [5]:
((df_p1.columns == df_p2.columns) & (df_p2.columns == df_p3.columns) & (df_p3.columns == df_mkt.columns)).all()

True

#### Now that the we know that they are all the same, we can start to remove columns by intuition. Following, lets analyze the null values

In [9]:
df_p1.isna().sum()

Unnamed: 0                                         0
id                                                 0
fl_matriz                                          0
de_natureza_juridica                               0
sg_uf                                              0
natureza_juridica_macro                            0
de_ramo                                            0
setor                                              0
idade_empresa_anos                                 0
idade_emp_cat                                      0
fl_me                                              0
fl_sa                                              0
fl_epp                                             0
fl_mei                                             0
fl_ltda                                            0
dt_situacao                                        0
fl_st_especial                                     0
fl_email                                           0
fl_telefone                                        0
fl_rm                                              0
nm_divisao                                         0
nm_segmento                                        0
fl_spa                                             0
fl_antt                                            0
fl_veiculo                                         0
vl_total_tancagem                                555
vl_total_veiculos_antt                           555
vl_total_veiculos_leves                          517
vl_total_veiculos_pesados                        517
fl_optante_simples                               101
                                                ...
idade_de_34_a_38                                 513
idade_de_39_a_43                                 523
idade_de_44_a_48                                 534
idade_de_49_a_53                                 533
idade_de_54_a_58                                 541
idade_acima_de_58                                540
grau_instrucao_macro_analfabeto                  554
grau_instrucao_macro_escolaridade_fundamental    530
grau_instrucao_macro_escolaridade_media          469
grau_instrucao_macro_escolaridade_superior       532
grau_instrucao_macro_desconhecido                555
total                                            454
meses_ultima_contratacaco                        424
qt_admitidos_12meses                             424
qt_desligados_12meses                            424
qt_desligados                                    424
qt_admitidos                                     424
media_meses_servicos_all                         424
max_meses_servicos_all                           424
min_meses_servicos_all                           424
media_meses_servicos                             454
max_meses_servicos                               454
min_meses_servicos                               454
qt_funcionarios                                  424
qt_funcionarios_12meses                          424
qt_funcionarios_24meses                          424
tx_crescimento_12meses                           458
tx_crescimento_24meses                           464
tx_rotatividade                                  424
qt_filiais                                         0
Length: 182, dtype: int64

#### There are some columns that have a lot of null values lets analyze each one and them and see which ones we can remove

In [11]:
df_p1['vl_total_tancagem'].shape

(555,)

#### as one can see all values are null, lets see if they are null in the other datesets

In [17]:
df_p2['vl_total_tancagem'].isna().sum() / df_p2['vl_total_tancagem'].shape[0]

0.9522968197879859

#### Humm, lets see what this variable mean
##### numeric, total capacity of fuel storage of the company

#### if this variable has a lot of null values in the market and portifolio 3, I will exclude it

In [18]:
df_p3['vl_total_tancagem'].isna().sum() / df_p3['vl_total_tancagem'].shape[0]

0.9622641509433962

In [19]:
df_mkt['vl_total_tancagem'].isna().sum() / df_mkt['vl_total_tancagem'].shape[0]

0.9993943300641578

#### Since 99% of the data is missing let drop it

In [20]:
df_p1.drop(columns=['vl_total_tancagem'], inplace=True)
df_p2.drop(columns=['vl_total_tancagem'], inplace=True)
df_p3.drop(columns=['vl_total_tancagem'], inplace=True)
df_mkt.drop(columns=['vl_total_tancagem'], inplace=True)