In [1]:
# imports
import pandas as pd
import numpy as np

# reading the datasets
df_p1 = pd.read_csv('../data/estaticos_portfolio1.csv') # ids dos clientes da empresa um (já relacionado)
df_p2_ids = pd.read_csv('../data/estaticos_portfolio2.csv') # ids dos clientes da empresa dois
df_p3_ids = pd.read_csv('../data/estaticos_portfolio3.csv') # ids dos clientes da empresa três
df_mkt = pd.read_csv('../data/estaticos_market.csv') # base contando todos os registros incluindo todo mercado

In [2]:
# merge the dataframes
df_p2 = pd.merge(df_p2_ids, df_mkt, on='id', how='left')
df_p3 = pd.merge(df_p3_ids, df_mkt, on='id', how='left')

In [3]:
# remove the column Unnamed: 0_y since it represents the id in the market 
# (we do not need it since we have the "id" column that already identifies the entry)
df_p2.drop(columns=['Unnamed: 0_y'], inplace=True)
df_p3.drop(columns=['Unnamed: 0_y'], inplace=True)

In [4]:
# now lets rename the column 'Unnamed: 0_y' to 'Unnamed: 0' to standard it
df_p2.rename(columns={'Unnamed: 0_x':'Unnamed: 0'}, inplace=True)
df_p3.rename(columns={'Unnamed: 0_x':'Unnamed: 0'}, inplace=True)

# Analisando dados nulos

#### Vamos analisar os dados nulos presentes no conjunto de dados, a seguir vamos fazer as seguintes análises:
- Verificar que as colunas presentes no conjunto de dados são as mesmas em todos os portifolios e mercado
- Verificar a porcentagem de dados faltantes em cada variável (coluna), analisando quais podems ser removidas do conjunto de dados

### As variáveis estão contidas em todos os portifólios e mercado?

In [5]:
((df_p1.columns == df_p2.columns) & (df_p2.columns == df_p3.columns) & (df_p3.columns == df_mkt.columns)).all()

True

### Quais são as variáveis que tem pelo menos um valor nulo?

In [6]:
df_nulos = pd.DataFrame()
df_nulos['portifolio_1'] = df_p1.isna().sum() / df_p1.shape[0]
df_nulos['portifolio_2'] = df_p2.isna().sum() / df_p2.shape[0]
df_nulos['portifolio_3'] = df_p3.isna().sum() / df_p3.shape[0]
df_nulos['mercado'] = df_mkt.isna().sum() / df_mkt.shape[0]
df_nulos = df_nulos.transpose()
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.sum() == 0.0)], axis=1, inplace=True)
df_nulos.transpose()

,portifolio_1,portifolio_2,portifolio_3,mercado
setor,0.000000,0.000000,0.000000,0.004168
dt_situacao,0.000000,0.000000,0.000000,0.000013
nm_divisao,0.000000,0.000000,0.000000,0.004168
nm_segmento,0.000000,0.000000,0.000000,0.004168
fl_spa,0.000000,0.000000,0.000000,0.004168
fl_antt,0.000000,0.000000,0.000000,0.004168
fl_veiculo,0.000000,0.000000,0.000000,0.004168
vl_total_tancagem,1.000000,0.952297,0.962264,0.999394
vl_total_veiculos_antt,1.000000,0.991166,1.000000,0.999619
vl_total_veiculos_leves,0.931532,0.134276,0.166038,0.933627
vl_total_veiculos_pesados,0.931532,0.134276,0.166038,0.933627
fl_optante_simples,0.181982,0.000000,0.007547,0.178917
qt_art,0.992793,0.537102,0.509434,0.985745
vl_total_veiculos_pesados_grupo,0.000000,0.000000,0.000000,0.004168
vl_total_veiculos_leves_grupo,0.000000,0.000000,0.000000,0.004168
vl_total_tancagem_grupo,1.000000,0.946996,0.962264,0.996193
vl_total_veiculos_antt_grupo,1.000000,0.991166,1.000000,0.999273
vl_potenc_cons_oleo_gas,0.994595,0.833922,0.916981,0.992033
fl_optante_simei,0.181982,0.000000,0.007547,0.178917
sg_uf_matriz,0.000000,0.000000,0.000000,0.004194
de_saude_tributaria,0.019820,0.000000,0.000000,0.032124
de_saude_rescencia,0.019820,0.000000,0.000000,0.032124
nu_meses_rescencia,0.084685,0.000000,0.003774,0.097937
de_nivel_atividade,0.007207,0.000000,0.000000,0.024158
de_indicador_telefone,0.902703,0.220848,0.267925,0.905055
fl_simples_irregular,0.000000,0.000000,0.000000,0.004168
vl_frota,0.944144,0.173145,0.215094,0.947674
empsetorcensitariofaixarendapopulacao,0.270270,0.123675,0.181132,0.311118
nm_meso_regiao,0.115315,0.123675,0.090566,0.126970
nm_micro_regiao,0.115315,0.123675,0.090566,0.126970
...,...,...,...,...
idade_de_29_a_33,0.922523,0.007067,0.003774,0.913166
idade_de_34_a_38,0.924324,0.001767,0.000000,0.920551
idade_de_39_a_43,0.942342,0.001767,0.000000,0.934224
idade_de_44_a_48,0.962162,0.008834,0.000000,0.947458
idade_de_49_a_53,0.960360,0.022968,0.000000,0.958821
idade_de_54_a_58,0.974775,0.060071,0.007547,0.969771
idade_acima_de_58,0.972973,0.107774,0.030189,0.976150
grau_instrucao_macro_analfabeto,0.998198,0.793286,0.758491,0.995925
grau_instrucao_macro_escolaridade_fundamental,0.954955,0.084806,0.045283,0.946147
grau_instrucao_macro_escolaridade_media,0.845045,0.005300,0.000000,0.853348
grau_instrucao_macro_escolaridade_superior,0.958559,0.030035,0.011321,0.950839
grau_instrucao_macro_desconhecido,1.000000,1.000000,1.000000,1.000000
total,0.818018,0.000000,0.000000,0.835729
meses_ultima_contratacaco,0.763964,0.000000,0.000000,0.775958
qt_admitidos_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados,0.763964,0.000000,0.000000,0.775958
qt_admitidos,0.763964,0.000000,0.000000,0.775958
media_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
max_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
min_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
media_meses_servicos,0.818018,0.000000,0.000000,0.835039
max_meses_servicos,0.818018,0.000000,0.000000,0.835039
min_meses_servicos,0.818018,0.000000,0.000000,0.835039
qt_funcionarios,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_12meses,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_24meses,0.763964,0.000000,0.000000,0.775958
tx_crescimento_12meses,0.825225,0.001767,0.000000,0.840172
tx_crescimento_24meses,0.836036,0.001767,0.003774,0.839900
tx_rotatividade,0.763964,0.000000,0.000000,0.775958

### Podemos perceber que temos 163 variáveis que tem pelo menos 1 valor nulo entre todos os conjuntos de dados, para uma primeira análise, vamos avaliar as variáveis que tem mais de 90% de seus valores nulos

In [7]:
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.min() <= 0.9)], axis=1, inplace=True)
df_nulos.iloc[0:4,10:]

,qt_socios_pj_ativos,qt_socios_pj_nulos,qt_socios_pj_baixados,qt_socios_pj_suspensos,qt_socios_pj_inaptos,vl_idade_media_socios_pj,vl_idade_maxima_socios_pj,vl_idade_minima_socios_pj,coligada_mais_nova_baixada,coligada_mais_antiga_baixada,idade_media_coligadas_baixadas,grau_instrucao_macro_desconhecido
portifolio_1,0.996396,0.996396,0.996396,0.996396,0.996396,0.996396,0.996396,0.996396,1.000000,1.000000,1.000000,1.0
portifolio_2,0.909894,0.909894,0.909894,0.909894,0.909894,0.909894,0.909894,0.909894,0.998233,0.998233,0.998233,1.0
portifolio_3,0.943396,0.943396,0.943396,0.943396,0.943396,0.943396,0.943396,0.943396,0.996226,0.996226,0.996226,1.0
mercado,0.990171,0.990171,0.990171,0.990171,0.990171,0.990171,0.990171,0.990171,0.999706,0.999706,0.999706,1.0

### Dentre estas 22 variáveis vamos elencar seus significados para garantir que não estamos excluindo variáveis categóricas one-hot encoding 
- **vl_total_tancagem**: numeric, total capacity of fuel storage of the company
- **vl_total_veiculos_antt**: integer, total number of vehicles of the company
- **vl_total_tancagem_grupo**: numeric, total capacity of fuel storage of the economic group of the company
- **vl_total_veiculos_antt_grupo**: numeric, total number of vehicles of the economic group of the company that are registered with ANTT certification
- **qt_socios_st_suspensa**: integer value, quantity of partners with suspended situation under IRS - Receit Federal
- **qt_socios_pep**: integer value, quantity of partners of the cnpj that are politicaly exposed
- **qt_alteracao_socio_total**: integer value, quantity of changes in the QSA
- **qt_alteracao_socio_90d**: integer value, quantity of changes in the QSA in the last 90 days
- **qt_alteracao_socio_180d**: integer value, quantity of changes in the QSA in the last 180 days
- **qt_alteracao_socio_365d**: integer value, quantity of changes in the QSA in the last 365 days
- **qt_socios_pj_ativos**: integer value, quantity of PJ partners that are ATIVA in the RF.
- **qt_socios_pj_nulos**: integer value, quantity of PJ partners that are NULA in the RF
- **qt_socios_pj_baixados**: integer value, quantity of PJ partners that are BAIXADA in the RF.
- **qt_socios_pj_suspensos**: integer value, quantity of PJ partners that are SUSPENSA in the RF.
- **qt_socios_pj_inaptos**: integer value, quantity of PJ partners that are INAPTA in the RF.
- **vl_idade_media_socios_pj**: float value, avarage age of the PJ partners
- **vl_idade_maxima_socios_pj**: float value, maximum age of the PJ partners.
- **vl_idade_minima_socios_pj**: float value, minimum age of the PJ partners.
- **coligada_mais_nova_baixada**: float, age (months) of yougest closed coligate
- **coligada_mais_antiga_baixada**: float, age (months) of oldest closed coligate
- **idade_media_coligadas_baixadas**: float, average (months) of closed coligate
- **grau_instrucao_macro_desconhecido**: integer value, same as grau_instrucao_desconhecido

### Na minha opinião, podemos remover as seguintes variáveis (Todas elas)

In [8]:
columns_to_drop = [
    'vl_total_tancagem', 'vl_total_veiculos_antt', 'vl_total_tancagem_grupo',
    'vl_total_veiculos_antt_grupo', 'qt_socios_st_suspensa', 'qt_socios_pep',
    'qt_alteracao_socio_total', 'qt_alteracao_socio_90d', 'qt_alteracao_socio_180d',
    'qt_alteracao_socio_365d', 'qt_socios_pj_ativos', 'qt_socios_pj_nulos', 
    'qt_socios_pj_baixados', 'qt_socios_pj_suspensos', 'qt_socios_pj_inaptos',
    'vl_idade_media_socios_pj', 'vl_idade_maxima_socios_pj', 'vl_idade_minima_socios_pj',
    'coligada_mais_nova_baixada', 'coligada_mais_antiga_baixada', 'idade_media_coligadas_baixadas',
    'grau_instrucao_macro_desconhecido'
                  ]

In [9]:
df_p1.drop(columns=columns_to_drop, inplace=True)
df_p2.drop(columns=columns_to_drop, inplace=True)
df_p3.drop(columns=columns_to_drop, inplace=True)
df_mkt.drop(columns=columns_to_drop, inplace=True)

In [10]:
df_nulos = pd.DataFrame()
df_nulos['portifolio_1'] = df_p1.isna().sum() / df_p1.shape[0]
df_nulos['portifolio_2'] = df_p2.isna().sum() / df_p2.shape[0]
df_nulos['portifolio_3'] = df_p3.isna().sum() / df_p3.shape[0]
df_nulos['mercado'] = df_mkt.isna().sum() / df_mkt.shape[0]
df_nulos = df_nulos.transpose()
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.sum() == 0.0)], axis=1, inplace=True)
df_nulos.transpose()

,portifolio_1,portifolio_2,portifolio_3,mercado
setor,0.000000,0.000000,0.000000,0.004168
dt_situacao,0.000000,0.000000,0.000000,0.000013
nm_divisao,0.000000,0.000000,0.000000,0.004168
nm_segmento,0.000000,0.000000,0.000000,0.004168
fl_spa,0.000000,0.000000,0.000000,0.004168
fl_antt,0.000000,0.000000,0.000000,0.004168
fl_veiculo,0.000000,0.000000,0.000000,0.004168
vl_total_veiculos_leves,0.931532,0.134276,0.166038,0.933627
vl_total_veiculos_pesados,0.931532,0.134276,0.166038,0.933627
fl_optante_simples,0.181982,0.000000,0.007547,0.178917
qt_art,0.992793,0.537102,0.509434,0.985745
vl_total_veiculos_pesados_grupo,0.000000,0.000000,0.000000,0.004168
vl_total_veiculos_leves_grupo,0.000000,0.000000,0.000000,0.004168
vl_potenc_cons_oleo_gas,0.994595,0.833922,0.916981,0.992033
fl_optante_simei,0.181982,0.000000,0.007547,0.178917
sg_uf_matriz,0.000000,0.000000,0.000000,0.004194
de_saude_tributaria,0.019820,0.000000,0.000000,0.032124
de_saude_rescencia,0.019820,0.000000,0.000000,0.032124
nu_meses_rescencia,0.084685,0.000000,0.003774,0.097937
de_nivel_atividade,0.007207,0.000000,0.000000,0.024158
de_indicador_telefone,0.902703,0.220848,0.267925,0.905055
fl_simples_irregular,0.000000,0.000000,0.000000,0.004168
vl_frota,0.944144,0.173145,0.215094,0.947674
empsetorcensitariofaixarendapopulacao,0.270270,0.123675,0.181132,0.311118
nm_meso_regiao,0.115315,0.123675,0.090566,0.126970
nm_micro_regiao,0.115315,0.123675,0.090566,0.126970
fl_passivel_iss,0.000000,0.000000,0.000000,0.004168
qt_socios,0.264865,0.325088,0.630189,0.248954
qt_socios_pf,0.264865,0.325088,0.630189,0.248954
qt_socios_pj,0.264865,0.325088,0.630189,0.248954
...,...,...,...,...
idade_de_24_a_28,0.917117,0.030035,0.041509,0.915866
idade_de_29_a_33,0.922523,0.007067,0.003774,0.913166
idade_de_34_a_38,0.924324,0.001767,0.000000,0.920551
idade_de_39_a_43,0.942342,0.001767,0.000000,0.934224
idade_de_44_a_48,0.962162,0.008834,0.000000,0.947458
idade_de_49_a_53,0.960360,0.022968,0.000000,0.958821
idade_de_54_a_58,0.974775,0.060071,0.007547,0.969771
idade_acima_de_58,0.972973,0.107774,0.030189,0.976150
grau_instrucao_macro_analfabeto,0.998198,0.793286,0.758491,0.995925
grau_instrucao_macro_escolaridade_fundamental,0.954955,0.084806,0.045283,0.946147
grau_instrucao_macro_escolaridade_media,0.845045,0.005300,0.000000,0.853348
grau_instrucao_macro_escolaridade_superior,0.958559,0.030035,0.011321,0.950839
total,0.818018,0.000000,0.000000,0.835729
meses_ultima_contratacaco,0.763964,0.000000,0.000000,0.775958
qt_admitidos_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados,0.763964,0.000000,0.000000,0.775958
qt_admitidos,0.763964,0.000000,0.000000,0.775958
media_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
max_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
min_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
media_meses_servicos,0.818018,0.000000,0.000000,0.835039
max_meses_servicos,0.818018,0.000000,0.000000,0.835039
min_meses_servicos,0.818018,0.000000,0.000000,0.835039
qt_funcionarios,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_12meses,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_24meses,0.763964,0.000000,0.000000,0.775958
tx_crescimento_12meses,0.825225,0.001767,0.000000,0.840172
tx_crescimento_24meses,0.836036,0.001767,0.003774,0.839900
tx_rotatividade,0.763964,0.000000,0.000000,0.775958

### Podemos perceber que agora temos 141 variáveis que tem pelo menos 1 valor nulo entre todos os conjuntos de dados, vamos avaliar as variáveis que tem mais de 70% de seus valores nulos

In [11]:
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.min() <= 0.7)], axis=1)

,vl_potenc_cons_oleo_gas,total_filiais_coligados,media_filiais_coligados,max_filiais_coligados,min_filiais_coligados,grau_instrucao_macro_analfabeto
portifolio_1,0.994595,0.972973,0.972973,0.972973,0.972973,0.998198
portifolio_2,0.833922,0.729682,0.729682,0.729682,0.729682,0.793286
portifolio_3,0.916981,0.864151,0.864151,0.864151,0.864151,0.758491
mercado,0.992033,0.955873,0.955873,0.955873,0.955873,0.995925

### Dentre estas 6 variáveis vamos elencar seus significados para garantir que não estamos excluindo variáveis categóricas one-hot encoding 
- **vl_potenc_cons_oleo_gas**: numeric, potential consumption of oil and gas
- **total_filiais_coligados**: integer value, quantity of subsidiaries from connected companies
- **media_filiais_coligados**: numeric value, average of subsidiaries from connected companies
- **max_filiais_coligados**: numeric value, maximum number of subsidiaries from connected companies
- **min_filiais_coligados**: numeric value, minimum number of subsidiaries from connected companies
- **grau_instrucao_macro_analfabeto**: integer value, quantity of employees in positions with no education level required.

### Podemos perceber que a variável `grau_instrucao_macro_analfabeto` parece ser one-hot encoding

In [12]:
df_p1[['grau_instrucao_macro_analfabeto', 'grau_instrucao_macro_escolaridade_fundamental', 'grau_instrucao_macro_escolaridade_media', 'grau_instrucao_macro_escolaridade_superior']]

,grau_instrucao_macro_analfabeto,grau_instrucao_macro_escolaridade_fundamental,grau_instrucao_macro_escolaridade_media,grau_instrucao_macro_escolaridade_superior
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,11.0,3.0
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,NaN,NaN,5.0,NaN
9,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,1.0
11,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN
16,NaN,NaN,6.0,NaN
17,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN
19,NaN,2.0,5.0,1.0
20,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN
23,NaN,NaN,1.0,NaN
24,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN
29,NaN,NaN,1.0,NaN
...,...,...,...,...
525,NaN,NaN,NaN,NaN
526,NaN,3.0,NaN,NaN
527,NaN,NaN,NaN,NaN
528,NaN,NaN,NaN,NaN
529,NaN,NaN,NaN,NaN
530,NaN,NaN,NaN,NaN
531,NaN,NaN,NaN,NaN
532,NaN,NaN,NaN,NaN
533,NaN,NaN,NaN,NaN
534,NaN,NaN,NaN,NaN
535,NaN,NaN,NaN,NaN
536,NaN,NaN,NaN,NaN
537,NaN,4.0,5.0,NaN
538,NaN,NaN,NaN,1.0
539,NaN,NaN,NaN,NaN
540,NaN,NaN,NaN,NaN
541,NaN,NaN,4.0,NaN
542,NaN,NaN,NaN,NaN
543,NaN,NaN,NaN,NaN
544,NaN,NaN,NaN,NaN
545,NaN,NaN,NaN,NaN
546,NaN,NaN,NaN,NaN
547,NaN,1.0,NaN,NaN
548,NaN,NaN,NaN,NaN
549,NaN,NaN,NaN,NaN
550,NaN,NaN,NaN,NaN
551,NaN,NaN,NaN,NaN
552,NaN,NaN,NaN,NaN
553,NaN,NaN,NaN,NaN
554,NaN,NaN,NaN,NaN

### Achei que poderia ser, mas parece que não pois são variáveis independentes. Apesar disto, como muitos valores estão como nulos (maioria dos registros) acredito podermos excluir todas. Não me parece ser relevante para classificação. Se tivessem seus valores em sua maioria presentes poderia proporcionar algums valor devido seu significado, mas desta maneira exluiria todas estas colunas em uma primeira análise. O que vocês acham?

### Em relação as outras variáveis, excluiria todas exceto `media_filiais_coligados`, pois em relação as filiais coligadas, todas as quatro variáveis i.e. `total_filiais_coligados`, `media_filiais_coligados`, `max_filiais_coligados`, `min_filiais_coligados` estão presentes nos mesmo registros e representam a mesma informação

In [13]:
columns_to_drop = [
    'vl_potenc_cons_oleo_gas', 'total_filiais_coligados', 'min_filiais_coligados', 'max_filiais_coligados', 
    'grau_instrucao_macro_analfabeto'
]

In [14]:
df_p1.drop(columns=columns_to_drop, inplace=True)
df_p2.drop(columns=columns_to_drop, inplace=True)
df_p3.drop(columns=columns_to_drop, inplace=True)
df_mkt.drop(columns=columns_to_drop, inplace=True)

In [15]:
df_nulos = pd.DataFrame()
df_nulos['portifolio_1'] = df_p1.isna().sum() / df_p1.shape[0]
df_nulos['portifolio_2'] = df_p2.isna().sum() / df_p2.shape[0]
df_nulos['portifolio_3'] = df_p3.isna().sum() / df_p3.shape[0]
df_nulos['mercado'] = df_mkt.isna().sum() / df_mkt.shape[0]
df_nulos = df_nulos.transpose()
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.sum() == 0.0)], axis=1, inplace=True)
df_nulos.transpose()

,portifolio_1,portifolio_2,portifolio_3,mercado
setor,0.000000,0.000000,0.000000,0.004168
dt_situacao,0.000000,0.000000,0.000000,0.000013
nm_divisao,0.000000,0.000000,0.000000,0.004168
nm_segmento,0.000000,0.000000,0.000000,0.004168
fl_spa,0.000000,0.000000,0.000000,0.004168
fl_antt,0.000000,0.000000,0.000000,0.004168
fl_veiculo,0.000000,0.000000,0.000000,0.004168
vl_total_veiculos_leves,0.931532,0.134276,0.166038,0.933627
vl_total_veiculos_pesados,0.931532,0.134276,0.166038,0.933627
fl_optante_simples,0.181982,0.000000,0.007547,0.178917
qt_art,0.992793,0.537102,0.509434,0.985745
vl_total_veiculos_pesados_grupo,0.000000,0.000000,0.000000,0.004168
vl_total_veiculos_leves_grupo,0.000000,0.000000,0.000000,0.004168
fl_optante_simei,0.181982,0.000000,0.007547,0.178917
sg_uf_matriz,0.000000,0.000000,0.000000,0.004194
de_saude_tributaria,0.019820,0.000000,0.000000,0.032124
de_saude_rescencia,0.019820,0.000000,0.000000,0.032124
nu_meses_rescencia,0.084685,0.000000,0.003774,0.097937
de_nivel_atividade,0.007207,0.000000,0.000000,0.024158
de_indicador_telefone,0.902703,0.220848,0.267925,0.905055
fl_simples_irregular,0.000000,0.000000,0.000000,0.004168
vl_frota,0.944144,0.173145,0.215094,0.947674
empsetorcensitariofaixarendapopulacao,0.270270,0.123675,0.181132,0.311118
nm_meso_regiao,0.115315,0.123675,0.090566,0.126970
nm_micro_regiao,0.115315,0.123675,0.090566,0.126970
fl_passivel_iss,0.000000,0.000000,0.000000,0.004168
qt_socios,0.264865,0.325088,0.630189,0.248954
qt_socios_pf,0.264865,0.325088,0.630189,0.248954
qt_socios_pj,0.264865,0.325088,0.630189,0.248954
idade_media_socios,0.347748,0.376325,0.649057,0.327931
...,...,...,...,...
idade_de_19_a_23,0.940541,0.166078,0.286792,0.943997
idade_de_24_a_28,0.917117,0.030035,0.041509,0.915866
idade_de_29_a_33,0.922523,0.007067,0.003774,0.913166
idade_de_34_a_38,0.924324,0.001767,0.000000,0.920551
idade_de_39_a_43,0.942342,0.001767,0.000000,0.934224
idade_de_44_a_48,0.962162,0.008834,0.000000,0.947458
idade_de_49_a_53,0.960360,0.022968,0.000000,0.958821
idade_de_54_a_58,0.974775,0.060071,0.007547,0.969771
idade_acima_de_58,0.972973,0.107774,0.030189,0.976150
grau_instrucao_macro_escolaridade_fundamental,0.954955,0.084806,0.045283,0.946147
grau_instrucao_macro_escolaridade_media,0.845045,0.005300,0.000000,0.853348
grau_instrucao_macro_escolaridade_superior,0.958559,0.030035,0.011321,0.950839
total,0.818018,0.000000,0.000000,0.835729
meses_ultima_contratacaco,0.763964,0.000000,0.000000,0.775958
qt_admitidos_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados_12meses,0.763964,0.000000,0.000000,0.775958
qt_desligados,0.763964,0.000000,0.000000,0.775958
qt_admitidos,0.763964,0.000000,0.000000,0.775958
media_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
max_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
min_meses_servicos_all,0.763964,0.000000,0.000000,0.775989
media_meses_servicos,0.818018,0.000000,0.000000,0.835039
max_meses_servicos,0.818018,0.000000,0.000000,0.835039
min_meses_servicos,0.818018,0.000000,0.000000,0.835039
qt_funcionarios,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_12meses,0.763964,0.000000,0.000000,0.775958
qt_funcionarios_24meses,0.763964,0.000000,0.000000,0.775958
tx_crescimento_12meses,0.825225,0.001767,0.000000,0.840172
tx_crescimento_24meses,0.836036,0.001767,0.003774,0.839900
tx_rotatividade,0.763964,0.000000,0.000000,0.775958

### Podemos perceber que agora temos 136 variáveis que tem pelo menos 1 valor nulo entre todos os conjuntos de dados, vamos avaliar as variáveis que tem mais de 50% de seus valores nulos

In [16]:
df_nulos.drop(df_nulos.columns[df_nulos.apply(lambda col: col.min() <= 0.5)], axis=1)

,qt_art,qt_socios_feminino,qt_funcionarios_coligados,qt_funcionarios_coligados_gp,media_funcionarios_coligados_gp,max_funcionarios_coligados_gp,min_funcionarios_coligados_gp,vl_folha_coligados,media_vl_folha_coligados,max_vl_folha_coligados,min_vl_folha_coligados,vl_folha_coligados_gp,media_vl_folha_coligados_gp,max_vl_folha_coligados_gp,min_vl_folha_coligados_gp,media_filiais_coligados,idade_ate_18
portifolio_1,0.992793,0.657658,0.917117,0.917117,0.917117,0.917117,0.917117,0.933333,0.933333,0.933333,0.933333,0.933333,0.933333,0.933333,0.933333,0.972973,0.992793
portifolio_2,0.537102,0.651943,0.554770,0.554770,0.554770,0.554770,0.554770,0.586572,0.586572,0.586572,0.586572,0.583039,0.583039,0.583039,0.583039,0.729682,0.620141
portifolio_3,0.509434,0.837736,0.762264,0.762264,0.762264,0.762264,0.762264,0.781132,0.781132,0.781132,0.781132,0.777358,0.777358,0.777358,0.777358,0.864151,0.784906
mercado,0.985745,0.686287,0.908494,0.908494,0.908494,0.908494,0.908494,0.921449,0.921449,0.921449,0.921449,0.920967,0.920967,0.920967,0.920967,0.955873,0.993714

### Dentre estas 17 variáveis vamos elencar seus significados para garantir que não estamos excluindo variáveis categóricas one-hot encoding 
- **qt_art**: integer, number of constructions(buildings) authorized by an architect (ART - Anotação de Responsabilidade Técnica)
- **qt_socios_feminino**: integer value, quantity of female partners (womens)
- **qt_funcionarios_coligados**: integer value, quantity of employees from the connected companies
- **qt_funcionarios_coligados_gp**: integer value, quantity of employees from conected companies and their subsidiaries
- **media_funcionarios_coligados_gp**: numeric value, average of employees from the connected companies and their subsidiaries
- **max_funcionarios_coligados_gp**: numeric value, maximum number of employees from connected companies and their subsidiaries
- **min_funcionarios_coligados_gp**: numeric value, minimum number of employees from connected companies and their subsidiaries
- **vl_folha_coligados**: numeric value, sum of payroll value from connected companies
- **media_vl_folha_coligados**: numeric value, average of payroll value from connected companies
- **max_vl_folha_coligados**: numeric value, maximum of payroll value from connected companies
- **min_vl_folha_coligados**: numeric value, minimum of payroll value from connected companies
- **vl_folha_coligados_gp**: numeric value, sum of payroll value from connected companies and their subsidiaries
- **media_vl_folha_coligados_gp**: numeric value, average of payroll value from connected companies and their subsidiaries
- **max_vl_folha_coligados_gp**: numeric value, maximum of payroll value from connected companies and their subsidiaries
- **min_vl_folha_coligados_gp**: numeric value, minimum of payroll value from connected companies and their subsidiaries
- **media_filiais_coligados**: numeric value, average of subsidiaries from connected companies
- **idade_ate_18**: integer value, quantity of employees under age of 18 years old.

In [17]:
columns_to_drop = [
    'qt_art', 'qt_socios_feminino', 'media_funcionarios_coligados_gp', 'max_funcionarios_coligados_gp',
    'min_funcionarios_coligados_gp', 'media_vl_folha_coligados', 'max_vl_folha_coligados', 'min_vl_folha_coligados',
    'media_vl_folha_coligados_gp', 'max_vl_folha_coligados_gp', 'min_vl_folha_coligados_gp', 'media_filiais_coligados',
    'idade_ate_18'
]

In [20]:
df_p1.drop(columns=columns_to_drop, inplace=True)
df_p2.drop(columns=columns_to_drop, inplace=True)
df_p3.drop(columns=columns_to_drop, inplace=True)
df_mkt.drop(columns=columns_to_drop, inplace=True)

In [24]:
df_p1.to_csv(r'../data/p1_sem_nulos.csv')
df_p2.to_csv(r'../data/p2_sem_nulos.csv')
df_p3.to_csv(r'../data/p3_sem_nulos.csv')
df_mkt.to_csv(r'../data/mkt_sem_nulos.csv')